body{
background:#0f0f0f;
color:white;
font-family:Arial,sans-serif;
margin:0;
padding:0;
text-align:center;
overflow-x:hidden;
}

.container{
padding:20px;
}

h1{
font-size:45px;
color:#ff4d6d;
}

h2{
color:#ffd6e0;
}

.photo{
width:90%;
max-width:350px;
border-radius:20px;
margin:15px;
box-shadow:0 0 20px #ff4d6d;
}

.message{
background:#1f1f1f;
padding:20px;
border-radius:20px;
margin:20px;
line-height:2;
box-shadow:0 0 15px #ff4d6d;
}

#countdown{
font-size:30px;
margin:20px;
color:#ff4d6d;
font-weight:bold;
}

video{
margin-top:20px;
border-radius:15px;
width:90%;
max-width:500px;
  }
